/* TILE STYLING SECTION */

.red {
  background-color:red;
}
.blue{
  background-color:blue;
}
.green{
  background-color:green;
}
.purple{
  background-color:purple;
}
.yellow{
  background-color:yellow;
}
.first {
  background-image: url('./../img/azul-first-tile-resized.jpg');
  border:none !important;
}
.tile {
  height:40px;
  width:40px;
  min-height:40px;
  min-width:40px;
  border:4px solid black;

  margin: 2.5px;
  text-align: center;
  line-height: 2;
  font-weight: 1000;
}
.landingSpace {
  opacity: .22;
}
.hiddenTile {
  border:none 
}
.arrow {
  background-image: url('./../img/arrow-resized.jpg');
}

/* HEADER STYLING SECTION */

header {
  border:3px solid black;
  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  gap: 5px;
}
.title {
  font-size: 1.6em;
  font-weight: 1000;
  line-height: 1.5;
}
#rules {
  font-size:1.6em;
  font-weight: 1000;
  line-height:0;
}

/* RANDOM MINIMAL STYLING */

main {
  padding-top: 50px;
}
body {
  margin: 10px;
  width: 800px;
  margin: auto;
}
html {
  background-color: rgb(218, 218, 218);
}
.limboArea {
  min-height: 90px;
}
.stagingArea > div,
.landingArea > div,
.brokenArea,
.limboArea,
.middleArea {
  display:flex;
}
.limboArea,
.brokenArea,
.middleArea {
  padding: 20px;
  flex-wrap: wrap;
}
.limboArea,
.middleArea {
  gap: 10px;
}
.factoryTile {
  border-radius: 50%;
  background-color: rgb(161, 111, 111);
  width: 140px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 3px solid black;
}
.factoryTile > div {
  margin: 10%;
}
.factoryTileArea {
  display:flex;
  flex-wrap: wrap;
}
.stagingArea,
.landingArea,
.arrowArea {
  display: inline-block;
}
.arrow {
  margin-bottom: 5px;
}
.brokenArea,
.limboArea,
.scoreArea {
  width: 500px;
}
#playerSection > div,
#player2Section > div,
#player3Section > div,
#player4Section > div {
  padding: 0 148px;
  border: 2px solid black;
}

#playerSection,
#player2Section,
#player3Section,
#player4Section {
display: flex;
justify-content: center;
margin-bottom: 10px;
}