header {
  border:3px solid black;
}

main > section {
  min-height:100%;
}

#opponentSection > section {
  height: 33%;
  border:3px solid black;
}

#opponentSection > div {
  height:.5%;
  background-color:black;
}

[class*="col-"] {
  float: left;
  border:3px solid black;
}

.col-1 {width: 20%;}
.col-2 {width: 42.5%;}
.col-3 {width: 37.5%;}



.red {
  background-color:red;
}
.blue{
  background-color:blue;
}
.green{
  background-color:green;
}
.purple{
  background-color:purple;
}
.yellow{
  background-color:yellow;
}

.tile {
  height:40px;
  width:40px;
  border:4px solid black;
  margin-left:5px;
  text-align:center;
  vertical-align: middle;
  line-height: 1;
}

.first {
  background-image: url('./../img/azul-first-tile-resized.jpg');
  border:none !important;
}

.limboArea .tile {
  height:40px;
  width:40px;
}

.brokenArea .tile {
  height:30px;
  width:30px;
}

.hiddenTile {
  border:none !important;
}

.stagingArea > div,
.landingArea > div,
.brokenArea,
.limboArea {
  display:flex;
  flex-direction:row;
  margin-top:5px;
  margin-left:5px;
}

.stagingArea > div,
.landingArea > div {
  align-content: flex-end;
}

.limboArea,
.brokenArea {
  width: 100%;
  padding: 20px;
  height: fit-content;
  border: 5px solid slategray;
}

.limboArea {
  border: 5px dashed slategray;
}

.landingSpace {
  opacity: .2;
}

.score {
  margin-left:80px;
  font-size: 1.1rem;
  font-weight: 600;
}

.middleArea {
  border: 5px dashed slategray;
  margin-left: 5px;
  margin-right: 40px;
}

.middleArea > div {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.middleArea > img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.factoryTile {
  border-radius: 50%;
  background-color: rgb(251, 161, 161);
  width: 140px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 3px solid black;
}

.factoryTile > div {
  margin: 10%;
}

.factoryTileArea,
.middleArea {
  display:flex;
  flex-wrap: wrap;
}